
::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
  }

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #555;
  }
  
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #f5f5f5;
  }
